body {
  background-color: black;
  color: white;
}

.center {
  text-align: center;
}

.img_size {
  height: 200px;
  width: 200px;
}


.div-size {
  width: 850px;
  margin: auto;
  padding: 25px;
}

.space {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
